* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

form{
    width: 1000px;
}


.main {
    display: flex;
}

.dir {
    width: 60%;
    display: flex;
}

.esq {
    width: 40%;
    max-height: 100rem;
    background-color: #38B6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section{
    font-size: 22pt;
    color: white;
}

.img {
    width: 500px;
}

.container-cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    width: 700px;
    padding-left: 50px;
}

.container-tabela-cadastro {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.77);
}

.cadastro {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.input-group-cadastro {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.input-box-cadastro {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box-cadastro input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box-cadastro input:hover {
    background-color: #eeeeee75;
}

.input-box-cadastro input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box-cadastro label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box-cadastro input::placeholder {
    color: #000000be;
}

.botao-cadastro button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #38B6FF;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.botao-cadastro button:hover {
    background-color: #1da9fa;
}

.botao-cadastro button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .container-cadastro {
        margin-left: 150px;
        width: 60%;
        height: auto;
    }

    .img {
        width: 200px;
    }
}